
.container {
    width:60%;
    padding-top:20px;
    padding-right:15px;
    padding-left:15px;
    margin-left:40px;
    margin-right:auto;
    margin-top:60px;
    margin-bottom:80px;
}

#pagetitle {
    background-color: turquoise;
    color: white;
}

h1 { 
color: teal;
}

body{
    background-color: rgb(180, 179, 175) ;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
  }

